// brand-wutiskill/lms/static/sass/pages/_dashboard.scss

// Styles for the learner dashboard.

.view-dashboard {
  .course-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--pgn-spacing-8, 2rem);
  }

  .course-card {
    @extend %course-card;
  }
}
