## mako

<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import gettext as _

from lms.djangoapps.branding import api as branding_api
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%! from lms.djangoapps.branding.api import get_logo_url %>

## Inject the theme's custom stylesheet.
<%block name="head_extra">
    ## We need to be sure that this path is correct. It assumes that the theme's static files
    ## are collected into a 'brand-wutiskill' directory.
    <link rel="stylesheet" type="text/css" href="${static.url('brand-wutiskill/css/lms-main.css')}">
</%block>

<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <a href="/">
                <img src="${get_logo_url()}" height="40" alt="${_('Home')}" />
            </a>
        </div>

        <nav class="site-nav" aria-label="${_('Primary')}">
            % if user.is_authenticated:
                <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
            % else:
                <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
            % endif
        </nav>

        <div class="header-actions">
             % if user.is_authenticated:
                <%include file="user_dropdown.html"/>
             % endif
        </div>
    </div>
</header>
